<div class="tools">
  <div class="tools-leftbox">
    <div class="tools-order">
      <button class="createbtnleft">pending</button>
      <button class="createbtnright">approved</button>
    </div>
    <div class="tools-gamelist">
      <div class="pending-games">
        {{#each myGames}}
          {{#if this.pending}}
            <div class="mainlistedGame">
              <div>
                <img class="gameImg" src="{{imageUrl}}" alt="no img" />
              </div>
              <div>
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                <div class="mainCardLinkLine">
                  <div class="link-buttons">
                    <a target="_blank" href="{{gitPage}}">Play</a>
                  </div>
                  <div class="link-buttons">
                    <a target="_blank" href="{{gitRep}}">Code</a>
                  </div>
                  <form action="/game/{{title}}/gameDetails" method="get">
                    <button class="link-buttons" type="submit">
                      Details</button>
                  </form>
                  <form action="/game/{{title}}/editgame" method="get">
                    <button class="link-buttons" type="submit">
                      Edit</button>
                  </form>
                  <form action="/game/{{_id}}/delete" method="post">
                    <button class="link-buttons" type="submit">
                      Delete</button>
                  </form>
                  <div class="rating"><span>{{rating}}</span></div>

                </div>
                <span>Status: [Pending]</span>
              </div>

            </div>
          {{/if}}
        {{/each}}
      </div>
      <div class="posted-games">
        {{#each myGames}}
          {{#if pending}}{{else}}
            <div class="mainlistedGame">
              <div>
                <img class="gameImg" src="{{imageUrl}}" alt="no img" />
              </div>
              <div>
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                <div class="mainCardLinkLine">
                  <div class="link-buttons">
                    <a target="_blank" href="{{gitPage}}">Play</a>
                  </div>
                  <div class="link-buttons">
                    <a target="_blank" href="{{gitRep}}">Code</a>
                  </div>
                  <form action="/game/{{title}}/gameDetails" method="get">
                    <button class="link-buttons" type="submit">
                      Details</button>
                  </form>
                  <form action="/game/{{title}}/editgame" method="get">
                    <button class="link-buttons" type="submit">
                      Edit</button>
                  </form>
                  <form action="/game/{{_id}}/delete" method="post">
                    <button class="link-buttons" type="submit">
                      Delete</button>
                  </form>
                  <div class="rating"><span>{{rating}}</span></div>

                </div>
                <span>Status: [Approved]</span>
              </div>

            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="tools-rightbox">
    <div class="create-Screen">

      <h2>create game</h2>
      <form
        style="display: flex; flex-direction: column; justify-content: center; align-items: center;"
        action="/game/creategame"
        method="POST"
        enctype="multipart/form-data"
      >
        <div
          style="display: flex; flex-direction: column; justify-content:center; align-items:center"
        >
          <div class="inputlabels">
            <label>Title</label><br />
            <input
              class="txtinput"
              type="text"
              name="title"
              placeholder="ironGame"
            />

          </div>
          <div class="inputlabels">
            <label>
              gitPage Game link</label><br />
            <input
              class="txtinput"
              type="url"
              name="gitPage"
              placeholder="https://jpschnabel117.github.io/Game-Project-DDR/"
            />

          </div>
          <div class="inputlabels">
            <label>
              gitRep link</label><br />
            <input
              class="txtinput"
              type="url"
              name="gitRep"
              placeholder="https://github.com/Jpschnabel117/Game-Project-DDR"
            />

          </div>
          <div class="inputlabels">
            <label>
              description</label><br />
            <input
              class="descriptions txtinput"
              type="text"
              name="description"
              placeholder="game about jumping"
            />

          </div>
          <div class="inputlabels">
            <label>
              tech description</label>
            <br />
            <input
              class="txtinput"
              type="text"
              name="techDescription"
              placeholder="i used Javascript canvas"
            />
          </div>
          <div class="inputlabels">
            <label>
              image!</label>
            <br />
            <input type="file" name="gameImgFile" />
          </div>
        </div>
        <div><button class="submitbuttons" type="submit">Submit Game</button></div>
      </form>
      {{#if errorMessage}}
        <div class="validationErrors"><p
            class="error"
          >{{errorMessage}}</p></div>
      {{/if}}
    </div>
  </div>
</div>
<script src="/javascripts/tools/creator-tools.js"></script>