<div id="listofgames">
  {{#each allGames}}
    {{#if pending}}{{else}}
      <div class="mainlistedGame">
        <div>
          <img class="gameImg" src="{{imageUrl}}" alt="no img" />
        </div>
        <div>
          <h3>{{title}}</h3>
          <p>{{description}}</p>
          <div class="mainCardLinkLine">
            <a class="link-buttons" target="_blank" href="{{gitPage}}">Play</a>
            <a class="link-buttons" target="_blank" href="{{gitRep}}">Code</a>
            <a
              class="link-buttons"
              target="_blank"
              href="/game/{{title}}/gameDetails"
            >Details</a>
            <span class="rating">{{rating}}</span>
          </div>
        </div>
      </div>
    {{/if}}
  {{/each}}
</div>