<div id="listofgames">
  {{#each allGames}}
    {{#if pending}}{{else}}
      <div class="mainlistedGame">
        <img class="gameImg" src="{{imageUrl}}" alt="no img" />
        <h3>title: {{title}}</h3>
        <span> {{rating}}</span>
        <p>Creator: {{owner.username}}</p>
        <p>Description: {{description}}</p>
        {{!-- <img src="{{imageUrl}}" alt="" /> --}}
        <a target="_blank" href="{{gitPage}}"> Gamelink</a>
        <br />
        <a target="_blank" href="{{gitRep}}"> rep link</a>
        <br />
        <a class="detailsLink" href="/game/{{title}}/gameDetails"> Details</a>
      </div>
    {{/if}}
  {{/each}}
</div>