<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IronGames</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div>
        <a class="Nav-link-buttons" href="/">IronGames</a>
      </div>
      <div>
        {{#if userInSession.admin}}
          <div>
            <a class="Nav-link-buttons" href="/tools/admin-tools">
              admin tools
            </a>
          </div>
          <div>
            <a
              class="Nav-link-buttons"
              href="/auth/userProfile"
            >{{userInSession.username}}</a>
          </div>
          <div>
            <a class="Nav-link-buttons" href="/auth/logout">Logout</a>
          </div>
        {{else if userInSession}}
          <div>
            <a class="Nav-link-buttons" href="/tools/creator-tools">creator
              tools</a>
          </div>
          <div>
            <a
              class="Nav-link-buttons"
              href="/auth/userProfile"
            >{{userInSession.username}}</a>
          </div>
          <div>
            <a class="Nav-link-buttons" href="/auth/logout"> Logout</a>
          </div>
        {{else}}
          <div>
            <a class="Nav-link-buttons" href="/auth/signup">Sign Up</a>
          </div>
          <div>
            <a class="Nav-link-buttons" href="/auth/login">Log In</a>
          </div>
        {{/if}}
      </div>
    </nav>
    {{{body}}}
    <script src="/javascripts/main.js"></script>
  </body>
</html>